@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=UnifrakturCook:wght@700&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-Cinzel: "Cinzel";
    --font-UnifrakturCook: "UnifrakturCook";
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
